<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chapter["title"] }}</title>
</head>
<body>

<h3><a href="{{ chapter["original_url"] }}" target="_blank">阅读原网页</a></h3>

<div>
    <h4>{{ chapter["title"] }}</h4>
    <div>
        {{ chapter["content"]|safe }}
    </div>
</div>

<footer style="text-align: center;">
    {% if prev_id %}
        <a href="/novel/{{ novel_id }}/{{ prev_id }}">上一章</a> &nbsp;&nbsp;
    {% endif %}
    <a href="/novel/{{ novel_id }}">目录</a> &nbsp;&nbsp;
    {% if next_id %}
        <a href="/novel/{{ novel_id }}/{{ next_id }}">下一章</a>
    {% endif %}
</footer>

</body>
</html>